{% extends "layout.html" %}

{% set active_page='Archive' %}

{% block title %}Blog Archive{% endblock %}
{% block body %}
  <!-- <ul class=blog-archive> -->
  <ul class="details">
  {%- for entry in archive %}
    <li><h2><a href="#" class="dashed">{{ entry.year }}</a></h2>
      <div class="hide">
      <ul>
      {%- for subentry in entry.months %}
        <li>{{ subentry.month_name }} — <a href="{{ link_to('blog_archive', year=entry.year,
                                month=subentry.month) }}">{{ subentry.count }} {{ 'entry' if subentry.count == 1 else 'entries' }}</a></li>
      {%- endfor %}
    </ul>
    </div>
  {%- endfor %}
  </ul>
{% endblock %}
