{% extends "layout.html" %}

{% set active_page='Blog' %}

{% block title %}Blog{% endblock %}
{% block body %}
  <ul class="details">
  {%- for entry in pagination.get_slice() %}
  {%- if entry.public[0] == "yes" -%}<li><h2><a href="{{link_to('page',slug=entry.slug) }}">{{entry.title}} &crarr;</a></h2>
    {% if entry.summary -%}
    <div class="summary">
      {{ entry.render_summary() }}
      <p class="date">written on {{ format_date(entry.pub_date,format='medium')}}</p>
    </div>
    {%- endif -%}
    </li>{%- endif -%}
  {%- endfor -%}  
  </ul>

  {%- if show_pagination and pagination.pages > 1 -%}
    {{ pagination }}
  {%- endif -%}
{% endblock -%}
