{% extends "layout.html" %}

{% set active_page='Archive' %}

{% block title %}Blog Archive for {{ entry.month_name}}, {{ entry.year }}{% endblock %}
{% block body %}
  <ul class="details">
    <li><h2>{{entry.month_name}}, <a href="{{ link_to('blog_archive', year=entry.year) }}" class="uline">{{entry.year}}</a></h2>
      <ul>
      {%- for entry in entry.entries %}
        <li><p><a href="{{ link_to('page', slug=entry.slug) }}" class="uline">{{ entry.title}}</a></p>
        {%- if entry.pub_date %}<p class="date">written on {{ format_date(entry.pub_date, format='long') }}</p>{% endif %}</li>
      {%- endfor -%}
      </ul>
      <!--<dl class="tlist">
        {%- for entry in entry.entries %}
        <dt><a href="{{ link_to('page', slug=entry.slug) }}">{{ entry.title }}</a></b></dt>
        <dd>{%- if entry.pub_date %}{{ format_date(entry.pub_date, format='long') }}{% endif %}</dd>
        {%- endfor -%}
      </dl> -->
    </li>
  </ul>
{% endblock %}
