<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    {% block htmlhead -%}
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="alternate" href="/feed.atom" title="Recent Blog Posts" type="application/atom+xml">
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/pygments.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    {%- for link in links %}
    <link rel="{{ link.rel }}" href="{{ link.href }}"{% if link.media %} media="{{ link.media }}"{% endif %} type="{{ link.type }}">
    {%- endfor -%}
    {%- endblock %}
</head>

{% from "_formhelpers.html" import menu_field %}

{% set navigation_bar = [
  ('/', 'Blog', 'Blog'),
  ('/archive/','Archive','Archive'),
  ('/tags/','Tags','Tags'),
] -%}

{% set active_page = active_page | default('Blog') -%}

<body>
<div id="container">
  <div id="header">
    <!--<a href="/"><h1 id="logo">Raido</h1></a>-->
    <ul>
      {% for href,title,caption in navigation_bar -%}
        {{ menu_field(href,title,caption,active_page) }}
      {% endfor -%}  
    </ul>
  </div>

  <div id="containter2">
    <div id="content">
      {%- block body -%}{%- endblock %}
    </div>

    <div id="footer">
      <p>Copyright &copy; Mike Grozak<br/></p>
      <p id="created">Created by <a href="http://mike.grozak.com/">Mike Grozak</a></p>
    </div>
  </div>
</div>
</body>
</html>
